syntax = "{{ syntax }}";

{% if package %}
package {{ package }};
{% endif %}

{% for import in imports %}
import{% for mod in import.modifiers %} {{ mod }}{% endfor %} "{{ import.path }}";
{% endfor %}

{% for item in body %}
    {% if item.type == 'message' %}
message {{ item.name }} {
    {% for field in item.fields %}
    {% if field.label %}{{ field.label }} {% endif %}{{ field.type }} {{ field.name }} = {{ field.number }}{% if field.default_value %} [default = {{ field.default_value }}]{% endif %};
    {% endfor %}

    {% for nested_enum in item.enums %}
    enum {{ nested_enum.name }} {
        {% for value in nested_enum.values %}
        {{ value.name }} = {{ value.number }};
        {% endfor %}
    }
    {% endfor %}

    {% for nested_msg in item.nested_messages %}
    {{ nested_msg }}
    {% endfor %}
}
    {% elif item.type == 'enum' %}
enum {{ item.name }} {
    {% for value in item.values %}
    {{ value.name }} = {{ value.number }};
    {% endfor %}
}
    {% elif item.type == 'service' %}
service {{ item.name }} {
    {% for method in item.methods %}
    rpc {{ method.name }}({% if method.client_streaming %}stream {% endif %}{{ method.input_type }}) returns ({% if method.server_streaming %}stream {% endif %}{{ method.output_type }});
    {% endfor %}
}
    {% elif item.type == 'extension' %}
extend {{ item.extendee }} {
    {{ item.field.type }} {{ item.field.name }} = {{ item.field.number }};
}
    {% endif %}
{% endfor %}